@import "material-icons.css";

@font-face {
    font-family: "Hind Madurai Light";
    src: url("../fonts/HindMadurai-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Hind Madurai Medium";
    src: url("../fonts/HindMadurai-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Hind Madurai Bold";
    src: url("../fonts/HindMadurai-Bold.ttf") format("truetype");
}

html, body {
    height: 100%;
}

body {
    font-family: "Hind Madurai Medium";
    background-color: rgba(0, 0, 0, 0.15);
}

.btn {
    border-radius: 25px;
    outline: none;
    border: 2px solid #2ecc71;
    width: 150px;
}

.ad-navbar {
    background-color: #191919;
}

.ad-navbar-logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.ad-navbar-logo:hover {
    color: #fff;
}

.ad-navbar-logo b {
    color: #2ecc71;
}

.ad-navbar input[type="text"], .ad-navbar input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
    border-radius: 0;
}

.ad-navbar input[type="text"].is-invalid, .ad-navbar input[type="password"].is-invalid {
    border-color: red;
    color: red;
}

.ad-navbar input:focus[type="text"], .ad-navbar input:focus[type="password"] {
    box-shadow: none;
    color: #fff;
    border-color: #fff;
}

.ad-navbar button[type="submit"], .ad-navbar .btn-logout {
    color: #fff;
}

.ad-navbar button:hover[type="submit"], .ad-navbar .btn-logout:hover {
    background: #2ecc71;
}

.ad-username {
    color: #fff;
    display: inline-block;
}

.card {
    width: 70%;
    box-shadow: 0 5px 20px rgba(0,0,0,.2)
}

.card h1 {
    font-size: 1.5rem;
}

.card .advert-title {
    padding-left: 0;
    padding-right: 0;
}

.card .advert-info p {
    margin-bottom: 2px;
}

.card p {
    font-family: "Hind Madurai Light";
}

.card input[type="text"], .card textarea {
    border: none;
    border-bottom: 1px solid #ced4da;
    background-color: transparent;
    outline: none;
    color: #495057;
    border-radius: 0;
    font-family: "Hind Madurai Light";
}

.card input[type="text"].is-invalid, .card textarea.is-invalid {
    border-color: red;
    color: red;
}

.card input[type="text"].is-valid, .card textarea.is-valid {
    border-color: #28a745;
}

.card input:focus[type="text"], .card textarea:focus {
    box-shadow: none;
    color: #495057;
    border-color: #3498db;
}

.card button[type="submit"] {
    width: 100px;
}

.card button:hover[type="submit"] {
    background: #2ecc71;
}

.card .btn-edit {
    width: 100px;
    border-color: #6699FF;
    background-color: #6699FF;
    color: #fff;
}

.card .btn-edit:hover {
    border-color: #0066FF;
    background-color: #0066FF;
}

.card .btn-delete {
    width: 100px;
    border-color: #CC3333;
    background-color: #CC3333;
    color: #fff;
}

.card .btn-delete:hover {
    border-color: #990000;
    background-color: #990000;
}

.pagination {
    margin: 0 auto;
    padding: 15px;
    font-family: "Hind Madurai Light";
    font-size: 1rem;
}

.pagination li{
    padding: 5px 8px;
}